# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig ZMK_I2C_HID
    bool "I2C HID Passthrough"
    default y
    depends on DT_HAS_ZMK_I2C_HID_ENABLED && I2C
    help
      Enable I2C HID passthrough driver.

if ZMK_I2C_HID

config INPUT_I2C_HID_INIT_PRIORITY
    int "Init priority"
    default 75
    help
      Device driver initialization priority.

config HID_PASSTHROUGH_USB
    bool "USB HID Passthrough"
    depends on USB_DEVICE_HID
    default y
    help
      Enable USB HID passthrough for an I2C HID device on HID_1.

config HID_PASSTHROUGH_BLE
    bool "BLE HID Passthrough"
    depends on BT
    default y
    help
      Enable BLE HOGP passthrough for an I2C HID device as a second HID service.

module = I2C_HID
module-str = i2c_hid
source "subsys/logging/Kconfig.template.log_config"

module = HID_PASSTHROUGH_USB
module-str = hid_passthrough_usb
source "subsys/logging/Kconfig.template.log_config"

module = HID_PASSTHROUGH_BLE
module-str = hid_passthrough_ble
source "subsys/logging/Kconfig.template.log_config"

endif #ZMK_I2C_HID
